body {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}

.sicak-kahveler {
  height: 120vh;
  position: relative;
  background: url(img/pizza.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  z-index: 0;
}

.sicak-kahveler::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.soguk-kahveler {
  height: 100vh;
  position: relative;
  background: url(img/tavuk.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  z-index: 0;
}

.soguk-kahveler::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.turk-kahve {
  height: 100vh;
  position: relative;
  background: url(img/kumru.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 25%;
  z-index: 0;
}

.turk-kahve::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.sicak-icicekler {
  height: 100vh;
  position: relative;
  background: url(img/hamburger.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30%;
  z-index: 0;
}

.sicak-icicekler::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.soguk-icicekler {
  height: 100vh;
  position: relative;
  background: url(img/çıtır.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  z-index: 0;
}

.soguk-icicekler::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.frozen {
  height: 100vh;
  position: relative;
  background: url(img/donutt.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  z-index: 0;
}

.frozen::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.milkshake {
  height: 100vh;
  position: relative;
  background: url(img/kola.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.milkshake::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.redbull {
  height: 100vh;
  position: relative;
  background: url(img/pizza.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  z-index: 0;
}

.redbull::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.mocktail {
  height: 100vh;
  position: relative;
  background: url(img/cocktail.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 25%;
  z-index: 0;
}

.mocktail::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.atistirmalik {
  height: 100vh;
  position: relative;
  background: url(img/atiştirmalik.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 25%;
  z-index: 0;
}

.atistirmalik::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.tatlılar {
  height: 100vh;
  position: relative;
  background: url(img/tatlı.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.tatlılar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.dondurma {
  height: 100vh;
  position: relative;
  background: url(img/dondurma.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.dondurma::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.logo {
  width: 300px;
  height: 75px;
  padding-top: 5px;
}

img {
  width: 100%;
  height: 100%;
}

.title {
  display: flex;
  flex-direction: column;
}

.title h1 {
  font-weight: 900;
  color: rgba(255, 255, 255, 0.3);
  line-height: 0px;
  padding: 6px;
}

.bir {
  width: 100%;
}

.iki {
  padding-top: 10px;
  margin-top: 15px;
  display: flex;
}

.iki ul {
  padding-left: 20px;
}

.padding-ayar1 {
  padding-left: 0;
}

.title ul,
li {
  list-style: none;
  font-weight: 400;
  padding-bottom: 5px;
  color: #fff;
}

.h1-ilk {
  margin-top: 120px;
  font-size: 40px;
  margin-left: 10px;
}

.h1-son {
  margin-top: 30px;
  font-size: 40px;
  margin-left: 10px;
}

.sosyal-medya {
  position: absolute;
  padding-bottom: 20px;
  color: #fff;
  width: 100%;
  text-align: center;
  bottom: 0;
}

.sosyal-medya p {
  font-size: 10px;
}

.sosyal-medya i {
  color: #fff;
  padding-right: 20px;
}

.katagoriler {
  width: 100%;
  font-size: 10px;
}

.main-btn {
  width: 100%;
  display: inline-block;
  padding: 10px 15px;
  color: #fff !important;
  text-decoration: none;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid #fff;
  text-align: center;
}

.active {
  color: black !important;
  background-color: #fff;
}

.menu-toggle-btn {
  position: relative;
  width: 35px;
  height: 30px;
  padding: 0;
  background-color: none;
  border: none;
}

@media (max-width: 991px) {
  .ul-cont ul {
    max-height: 70vh;
    overflow: auto;
  }
}

.menu-toggle-btn span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  border-radius: 50px;
  background-color: #fff;
  transition: transform 0.4s ease-out;
}

.menu-toggle-btn.collapsed span:nth-child(1) {
  top: 5px;
}

.menu-toggle-btn.collapsed span:nth-child(2) {
  top: calc(50% - 1px);
}

.menu-toggle-btn.collapsed span:nth-child(3) {
  top: calc(100% - 7px);
}

.menu-toggle-btn:not(.collapsed) span:nth-child(1) {
  top: calc(50% - 1px);
  transform: rotate(135deg);
}

.menu-toggle-btn:not(.collapsed) span:nth-child(2) {
  opacity: 0;
}

.menu-toggle-btn:not(.collapsed) span:nth-child(3) {
  top: calc(50% - 1px);
  transform: rotate(-135deg);
}

header nav .navbar-brand {
  color: #fff;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-size: 40px;
  line-height: 60px;
  transition: 0.4s ease;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  background-color: #111;
  width: 100%;
  z-index: 1000;
  transition: padding 0.5s ease-out;
  box-shadow: 0 0.125rem 0.25rem #ffffff20;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

header nav ul li a.nav-link {
  position: relative;
  color: #fff;
  font-weight: 700;
}

.navbar-brand:hover {
  color: #fff !important;
}
